.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  background-color:rgb(30,30,30);

}

.App-header {
  background-color: rgb(30,30,30);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(244, 244, 244);
}



.title {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 42px;
  background-color:rgb(30,30,30);
}

/*
Dropdown------------------------------
*/
.dropdown-container {
  text-align: left;
  border: 1px solid rgb(244, 244, 244);
  position: relative;
  border-radius: 5px;
  height: 44px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  user-select: none;
  width: 100%;
  max-height: 50px;
  color: rgb(244, 244, 244  );
}

.dropdown-menu {
  position: relative;
  transform: translateY(4px);
  overflow: auto;
  width: 100%;
  margin-top: 24px;
  max-height: 150px;
  margin-top: 190px;
  background-color: rgb(40, 44, 52);
  border: 1px solid rgb(244, 244, 244);
}

.dropdown menu .dropdown-item {
  padding: 5px;
  cursor: pointer;
}

.dropdown-menu .dropdown-item:hover {
  background-color: rgb(140, 140, 140);
}

.dropdown-item.selected {
  background-color:rgb(40, 44, 52);
}

/*
Elememnts List---------------------------
*/
.Elements-List  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow:scroll;
  list-style-type: none;
  align-content: center;
  margin: 16px;
  padding: 24px;
  background-color: rgb(30, 30, 30);
}

.Elements-List h1 {
  font-size: 64px;
}
.Elements-List h4 {
  font-size: 14px;
  font-weight: 300;
  text-align: right;
}
.table-title {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.Elements-List p {
  font-size: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:rgb(244, 244, 244);
}

/*
Elements List Items---------------------
*/

.Elements-List button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: 2px solid rgb(50, 50, 80);
  background-color: rgb(39, 42, 56);
  cursor: pointer;
  overflow: hidden;
  width: 80px;
  height: 160px;
}


.Elements-List button:hover {
  background-color: rgb(50, 55, 81);
  border: 2px solid rgb(0, 143, 255);
}

.item-top {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 100%;
  justify-content: center;
  padding-bottom: 12px;
  border-bottom: 2px solid rgb(50, 50, 80);
}

.element-name {
  font-weight: bold;
}

.atomic-number  {
  display: flex;
  justify-content: flex-end;
  height: 10%;
  padding-top: 12px;
}

.atomic-number p {
  font-size: 12px;
}

.item-top .symbol {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.symbol h1 {
  font-size: 42px;
}


/*
One Element-------------------------------
*/
.window {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color:rgb(30,30,30);

}
.oneElement {
  display: flex;
  flex-direction:  column;
  margin: 20px;
  padding: 20px;
  border: 2px solid rgb(50, 50, 80);
  background-color: rgb(39, 42, 56);
  width: 600px;
}

.oneElement .oneElement-details p {
  font-size: 24px;
}

.oneElement-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-deets {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-evenly;
  border-bottom: 2px solid rgb(50, 50, 80);
}

.oneElement-symbol {
  display: flex;
  font-size: 72px;
  text-align: left;
}

.oneElement-atomicNumber {
  display: flex;
  justify-content: flex-end;
  padding-right: 2px;
}

.oneElement-buttons {
  display: flex;
  flex-direction: column;
}
.oneElement p {
  font-size: 12px;
}

/*
Name Form---------------------------
*/
.name-form {
  display: flex;
  justify-content: center;
  margin: 8px;
  padding: 8px;
  border: 2px solid rgb(50, 50, 80);
  background-color:rgb(30,30,30);


}


/*
Image-------------------------------
*/
.imgContainer {
  display: flex;
  flex-direction: column;
}

.imgContainer,
img {
  width: 300px;
  height: auto;
  padding: 8px;
}